.logo.visible-sm.visible-xs

.row.hidden-lg.hidden-md
  .col-xs-12.text-center
    .header-image-mobile

.row
  .col-md-7
    %h1
      The Tired of Cancer app helps (former) cancer patients cope 
      with extreme fatigue.

    %p.sub
      By reading, writing, listening and doing exercises on a daily basis, 
      (former) cancer patients can get a better grip on their fatigue and 
      improve their quality of life.

    .col-sm-4.text-center
      = image_tag 'section1/download_badge.png'
    .col-sm-6
      %p#avail
        (Available for iPad only)

  .col-md-5.visible-md.visible-lg.ipadCont
    .header-image
    .flexslider
      %ul.slides
        %li
          = image_tag 'section1/ToC-Shot1-Themes.png'
        %li
          = image_tag 'section1/ToC-Shot2-Exercise.PNG'
        %li
          = image_tag 'section1/ToC-Shot3-Video.PNG'
        %li
          = image_tag 'section1/ToC-Shot4-Diary.PNG'
          
