---
title: Tired of Cancer
---

#nav
  .container
    = partial 'partials/nav'

#home
  .container
    = partial 'partials/header'

#discoverapp
  .container
    = partial 'partials/discoverapp'

#about
  .container
    = partial 'partials/about'

#team
  .container
    = partial 'partials/team'

#team-section-image.hidden-xs

#for-who
  .container
    = partial 'partials/for_who'

#footer
  .container
    = partial 'partials/footer'
